@import "../../styles/variables.scss";

.sort-panel {
	position: relative;
}

.sort-panel::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -1.375rem;
	transform: translateY(-50%);
	width: 1.5rem;
	height: 1.5rem;
	background: url("/resources/icons/sort_label.svg") center/cover no-repeat;
}

.custom-select__control.css-1s2u09g-control {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	border: none;
	cursor: pointer;
}

.custom-select__indicator-separator.css-1okebmr-indicatorSeparator {
	display: none;
}

// ------ media styles ------

@media screen and (max-width: 48rem) {
	.sort-panel {
		margin-left: 1.375rem;
	}
}
