@import "../../styles/variables.scss";

.restaurants-page {
	&__title {
		@extend %h2-title;
		padding-top: 4rem;
		margin-bottom: 0.5rem;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
	}
	&__subtitle {
		font-weight: 500;
		color: $grey-color;
	}
	&__line {
		width: 100%;
		height: 1px;
		background: #cbd2d9;
		margin-bottom: 3rem;
	}
}

// ------ media styles ------

@media screen and (max-width: 48rem) {
	.restaurants-page {
		&__title {
			font-size: 1.875rem;
			line-height: 2.5rem;
			padding-top: 2.75rem;
			margin-bottom: 0.625rem;
		}
		&__wrap {
			flex-wrap: wrap;
			margin-bottom: 1.5rem;
		}
		&__subtitle {
			font-size: 0.875rem;
			margin-bottom: 1rem;
		}
		&__line {
			margin-bottom: 1.5rem;
		}
	}
}

@media screen and (max-width: 36rem) {
	.restaurants-page {
		&__title {
			font-size: 1.5rem;
			line-height: 2rem;
			padding-top: 1.5rem;
			margin-bottom: 0.75rem;
		}
		&__wrap {
			margin-bottom: 2rem;
		}
		&__subtitle {
			font-size: 0.75rem;
		}
		&__line {
			display: none;
		}
	}
}
