@import "../../styles/variables.scss";

.slider-promo {
	margin-bottom: 64px;
	&__image {
		position: relative;
		width: 100%;
		min-height: 188px;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 346px;
		min-height: 166px;
		padding: 15px;
	}
	&__title {
		@extend %h1-title;
		color: #57221a;
		margin-bottom: 8px;
	}
	&__desc {
		font-weight: 500;
		color: $white-color;
		margin-bottom: 8px;
	}
	&__contacts {
		display: flex;
		align-items: center;
		img {
			width: 24px;
			height: 24px;
			object-fit: cover;
		}
		span {
			font-style: italic;
			font-weight: 400;
			color: $white-color;
			margin-left: 8px;
		}
	}
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 74px;
	left: 0;
	width: 100%;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: $white-color;
	vertical-align: middle;
}
.swiper-pagination-bullet-active {
	width: 18px;
	height: 18px;
	background: rgba(255, 255, 255, 0.8);
}

// ------ media styles ------

@media screen and (max-width: 767px) {
	.slider-promo {
		margin-bottom: 48px;
		&__image {
			height: 254px;
		}
		&__info {
			max-width: 248px;
			min-height: 120px;
			padding: 15px 15px 15px 0;
		}
		&__title {
			font-size: 26px;
			line-height: 36px;
			letter-spacing: 0.07px;
			margin-bottom: 6px;
		}
		&__desc {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 6px;
		}
		&__contacts {
			img {
				width: 17px;
				height: 17px;
			}
			span {
				font-size: 12px;
				margin-left: 6px;
			}
		}
		.container {
			width: 100% !important;
			padding: 0;
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 50px;
	}

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
	}
	.swiper-pagination-bullet-active {
		width: 12px;
		height: 12px;
	}
}

@media screen and (max-width: 575px) {
	.slider-promo {
		margin-bottom: 24px;
		&__image {
			height: 188px;
		}
		&__info {
			max-width: 148px;
			min-height: 72px;
			padding: 15px 15px 15px 0;
		}
		&__title {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 4px;
		}
		&__desc {
			font-size: 8px;
			line-height: 12px;
			margin-bottom: 4px;
		}
		&__contacts {
			img {
				width: 10px;
				height: 10px;
			}
			span {
				font-size: 8px;
				margin-left: 4px;
			}
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 30px;
	}
}
