@import "../../styles/variables.scss";

.slider-promo {
	margin-bottom: 4rem;
	&__image {
		position: relative;
		width: 100%;
		min-height: 11.75rem;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 21.625rem;
		min-height: 10.375rem;
		padding: 0.9375rem;
	}
	&__title {
		@extend %h1-title;
		color: #57221a;
		margin-bottom: 0.5rem;
	}
	&__desc {
		font-weight: 500;
		color: $white-color;
		margin-bottom: 0.5rem;
	}
	&__contacts {
		display: flex;
		align-items: center;
		img {
			width: 1.5rem;
			height: 1.5rem;
			object-fit: cover;
		}
		span {
			font-style: italic;
			font-weight: 400;
			color: $white-color;
			margin-left: 0.5rem;
		}
	}
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 4.625rem;
	left: 0;
	width: 100%;
}

.swiper-pagination-bullet {
	width: 0.75rem;
	height: 0.75rem;
	background: $white-color;
	vertical-align: middle;
}
.swiper-pagination-bullet-active {
	width: 1.125rem;
	height: 1.125rem;
	background: rgba(255, 255, 255, 0.8);
}

// ------ media styles ------

@media screen and (max-width: 48rem) {
	.slider-promo {
		margin-bottom: 3rem;
		&__image {
			height: 15.875rem;
		}
		&__info {
			max-width: 15.5rem;
			min-height: 7.5rem;
			padding: 0.9375rem 0.9375rem 0.9375rem 0;
		}
		&__title {
			font-size: 1.625rem;
			line-height: 2.25rem;
			letter-spacing: 0.07px;
			margin-bottom: 0.375rem;
		}
		&__desc {
			font-size: 0.75rem;
			line-height: 1.125rem;
			margin-bottom: 0.375rem;
		}
		&__contacts {
			img {
				width: 1.0625rem;
				height: 1.0625rem;
			}
			span {
				font-size: 0.75rem;
				margin-left: 0.375rem;
			}
		}
		.container {
			width: 100% !important;
			padding: 0;
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 3.125rem;
	}

	.swiper-pagination-bullet {
		width: 0.5rem;
		height: 0.5rem;
	}
	.swiper-pagination-bullet-active {
		width: 0.75rem;
		height: 0.75rem;
	}
}

@media screen and (max-width: 36rem) {
	.slider-promo {
		margin-bottom: 1.5rem;
		&__image {
			height: 11.75rem;
		}
		&__info {
			max-width: 9.25rem;
			min-height: 4.5rem;
			padding: 0.9375rem 0.9375rem 0.9375rem 0;
		}
		&__title {
			font-size: 1rem;
			line-height: 1.5rem;
			margin-bottom: 0.25rem;
		}
		&__desc {
			font-size: 0.5rem;
			line-height: 0.75rem;
			margin-bottom: 0.25rem;
		}
		&__contacts {
			img {
				width: 0.625rem;
				height: 0.625rem;
			}
			span {
				font-size: 0.5rem;
				margin-left: 0.25rem;
			}
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 1.875rem;
	}
}
