.order-enter {
	max-height: 0;
	&-active {
		max-height: 60px padding 2rem 0 !important;
	}
}

.order-exit {
	transition: 0.5s;

	&-active {
		transform: translateX(-120%);
		opacity: 0;
		padding: 0;
	}
}
