@import "./variables.scss";

.btn {
	display: block;
	padding: 0.5rem 1rem;
	background: $color-active;
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1rem;
	color: $white-color;
	transition: 0.1s all;
	&:hover {
		background: $main-color;
	}

	&__cart {
		margin: 0 0 0 auto;
	}

	&__paym,
	&__home,
	&__empty {
		margin: 0 auto;
	}

	&__paym {
		width: 131px;
	}
	&__home {
		width: 7.6875rem;
		text-align: center;
	}

	&__empty {
		width: 5.8125rem;
	}
	&__form {
		width: 100%;
		font-weight: 700;
		font-size: 0.875rem;
		line-height: 1.5rem;
		letter-spacing: 1.7px;
	}
	&__menu {
		background: $white-color;
		border: 2px solid $color-active;
		border-radius: 0.5rem;
		color: $color-active;
		text-transform: uppercase;
		&:hover {
			background: $white-color;
		}
	}
}
