html {
	box-sizing: border-box;

	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	font-size: inherit;
}

ul,
ul[class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

header,
nav,
main,
aside,
footer {
	display: block;
}
