$main-color: #334155;
$grey-color: #64748b;
$white-color: #fff;
$error-color: #ef4444;
$color-active: #f7931e;
$yellow-color: #ffcc00;

%h1-title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.2px;
	color: $white-color;
}
%h2-title {
	font-size: 32px;
	line-height: 48px;
	color: #183b56;
}
%h3-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	color: #0f172a;
}
%h4-title {
	font-size: 18px;
	letter-spacing: 0.2px;
	color: $main-color;
}
