.spinner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	&__wrap {
		position: absolute;
		top: calc(50% - 3.125rem);
		left: 50%;
		transform: translateX(-50%);
		width: 3.125rem;
		height: 3.125rem;
	}
}
