@import "../../styles/variables.scss";

.restaurants-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 20rem;
	min-height: 6.25rem;
	cursor: pointer;
	transition: 0.1s all;
	&:hover {
		box-shadow: 0 0.5rem 1.25rem rgba(7, 7, 7, 0.4);
		border-radius: 0.5rem;
		background: #f8fafc;
		transform: scale(1.05);
	}
	&__image {
		width: 8.125rem;
		height: 6.25rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 0.5rem;
		}
	}
	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		width: 10.9375rem;
		height: 100%;
	}
	&__title {
		@extend %h4-title;
	}
	&__cuisine {
		font-weight: 400;
		font-size: 0.875rem;
		color: $grey-color;
	}
	&__rating {
		span {
			display: inline-block;
			font-size: 0.75rem;
			color: $yellow-color;
		}
		p {
			display: inline-block;
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 1rem;
			color: $grey-color;
			margin-left: 0.25rem;
		}
	}
}

// ------ media styles ------

@media screen and (max-width: 48rem) {
	.restaurants-item {
		max-width: 18.125rem;
		&__image {
			width: 8.125rem;
			height: 6.25rem;
		}
		&__desc {
			width: 9.0625rem;
			&__title {
				font-size: 1rem;
			}
			&__cuisine {
				font-size: 0.75rem;
				line-height: 1rem;
			}
		}
	}
}
