@import "../../styles/variables.scss";

.error-message {
	&__image {
		max-width: 8.6875rem;
		height: 100%;
		margin: 0 auto 0.625rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		@extend %h3-title;
		color: $color-active;
		text-align: center;
		letter-spacing: 0.3125rem;
	}
}
