@import "../../styles/variables.scss";

.error-message {
	&__image {
		width: 139px;
		height: 167px;
		margin: 0 auto 10px;
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		@extend %h3-title;
		color: $color-active;
		text-align: center;
		letter-spacing: 5px;
	}
}
