@import "../../styles/variables.scss";

.restaurant-menu {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 490px));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 30px;
	justify-content: space-between;
	margin-bottom: 64px;
}

// ------ media styles ------

@media screen and (max-width: 1040px) {
	.restaurant-menu {
		justify-content: center;
	}
}

@media screen and (max-width: 768px) {
	.restaurant-menu {
		margin-bottom: 48px;
	}
}
@media screen and (max-width: 425px) {
	.restaurant-menu {
		grid-gap: 24px;
		margin-bottom: 32px;
	}
}
