@import "../../styles/variables.scss";

header {
	position: relative;
	min-height: 6rem;
	padding: 1.75rem 0;
	background: #f8fafc;
	margin-bottom: 3rem;
	z-index: 10;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 13.5rem;
		}
		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 6.9375rem;
			&-link a {
				line-height: 1.625rem;
				color: $main-color;
			}
		}
	}
}

@media screen and (max-width: 36rem) {
	header {
		min-height: 4rem;
		padding: 1rem 0;
		margin-bottom: 0;
		.header__menu {
			display: none;
		}
	}
}
