@import "../../styles/variables.scss";

header {
	position: relative;
	min-height: 96px;
	padding: 28px 0;
	background: #f8fafc;
	margin-bottom: 48px;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 216px;
		}
		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 111px;
			&-link a {
				line-height: 26px;
				color: $main-color;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	header {
		min-height: 64px;
		padding: 16px 0;
		margin-bottom: 0;
		.header__menu {
			display: none;
		}
	}
}
