@import "../../styles/variables.scss";

footer {
	background: #0f172a;
	.footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 424px;
		padding: 97px 0;
		margin: 0 auto;
		&__logo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			div {
				width: 49px;
				height: 39px;
			}
			img svg {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			span {
				font-style: italic;
				font-weight: 700;
				font-size: 32px;
				line-height: 48px;
				color: $white-color;
				margin-left: 16px;
			}
		}
		&__info {
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: $white-color;
		}
		&__social {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-item:not(:last-child) {
				margin-right: 32px;
			}
			&-link svg {
				width: 48px;
				height: 48px;
				object-fit: cover;
				color: $white-color;
			}
		}
	}
}

// ------ media styles ------

@media screen and (max-width: 768px) {
	footer {
		.footer {
			min-height: 340px;
			padding: 72px 0;
			&__logo {
				div {
					width: 35px;
					height: 28px;
				}
				span {
					font-size: 20px;
					line-height: 24px;
					margin-left: 12px;
				}
			}
			&__info {
				font-size: 19px;
				line-height: 29px;
			}
			&__social {
				&-item:not(:last-child) {
					margin-right: 36px;
				}
				&-link svg {
					width: 36px;
					height: 36px;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	footer {
		.footer {
			min-height: 256px;
			padding: 48px 0;
			&__info {
				font-size: 14px;
				line-height: 24px;
			}
			&__social {
				&-item:not(:last-child) {
					margin-right: 24px;
				}
				&-link svg {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}
